@charset "UTF-8";

body {
  background-color: rgb(0, 0, 0);
  color: rgb(216, 216, 216);
  font-family: "Lucida Console", monospace;
  font-size: 16px;
}

a {
  color: rgb(10, 94, 173);
}

p {
  margin: 0px;
  padding: 3px;
  transition-duration: 200ms;
  user-select: none;
}

p:hover {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0px;
  padding: 3px;
}

st {
  /*small text*/
  font-size: 10px;
  color: rgba(216, 216, 216, 0.6);
}

sbt{ /*sandbox tile*/
  background-color: rgba(255, 255, 255, 0.219);
  transition-duration: 300ms;
}

sbt:hover{
  background-color: rgba(255, 255, 255, 0.486);
}

.topbar {
  background-color: rgb(70, 70, 70);
  border: 1px solid rgb(161, 161, 161);
  border-radius: 8px;
  padding: 0px;
  width: 100%;
  height: 25px;
  margin: auto;
  text-align: center;
  transition-duration: 400ms;

  color: rgb(216, 216, 216);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

.topbar:hover {
  background-color: rgb(85, 85, 85);
}

.pagelink {
  color: rgb(10, 94, 173);
  text-decoration-line: underline;
}
