@charset "UTF-8";

body {
  background-color: rgb(0, 49, 104);
  color: rgb(216, 216, 216);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}


#titleText {
  position: absolute;
  font-size: 6em;
  color: white;
  transition-duration: 1200ms;
  opacity: 1;
  cursor: copy;
}

#desc {
  position: absolute;
  font-size: 2em;
  color: white;
  transition-duration: 1200ms;
  top: 5.3em;
  cursor: pointer;
}

.line {
  position: absolute;
  background-color: white;
  height: 1px;
  width: 0px;
  transition-duration: 1200ms;
  top: 9em;
}

#deviceWarning {
  opacity: 0.7;
  position: fixed;
  bottom: 0px;
  transition-duration: 500ms;
}

#deviceWarning:hover {
  opacity: 0.3;
}

input {
  transition-duration: 200ms;
}

input:invalid {
  border: 1px dotted red;
}

input:valid {
  border: 1px dotted rgb(21, 255, 0);
}


a {
  color: rgb(10, 94, 173);
}
/*
p {
  margin: 0px;
  padding: 3px;
  transition-duration: 200ms;
  user-select: none;
}


p:hover {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0px;
  padding: 3px;
}
*/

h3 {
  color: rgb(66, 66, 66);
}
st {
  /*small text*/
  font-size: 10px;
  color: rgba(216, 216, 216, 0.6);
}

tb {
  /*text button*/
  background-color: rgba(255, 255, 255, 0.219);
  transition-duration: 300ms;
  cursor:pointer;
}

tb:hover {
  background-color: rgba(255, 255, 255, 0.486);
}

.tbSelected {
  background-color: rgba(255, 255, 255, 0.596);
}

.topbar {
  background-color: rgb(70, 70, 70);
  border: 1px solid rgb(161, 161, 161);
  border-radius: 8px;
  padding: 0px;
  width: 100%;
  height: 25px;
  margin: auto;
  text-align: center;
  transition-duration: 400ms;

  color: rgb(216, 216, 216);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

.topbar:hover {
  background-color: rgb(85, 85, 85);
}

.pagelink {
  color: rgb(10, 94, 173);
  text-decoration-line: underline;
}

.element_win {
  position: absolute;
  width: 500px;
  height: 300px;
  background-color: rgb(216, 216, 216, 0.8);
  border: 5px double rgb(82, 82, 82);
  color: rgb(0, 105, 9);
  border-radius: 20px;
  left: -700px;
  top: 340px;
  text-align: center;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transition-duration: 1s;
}

.element_win_show {
  left: 30%;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.267);
}

.periodicTable {
  position: absolute;
}

#elementIn {
  border: none;
  background-color: rgb(66, 66, 66);
  color: rgb(216, 216, 216);
  outline: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#elementIn:focus {
  box-shadow: 0px 0px 2px 2px rgba(168, 168, 168, 0.466);
  caret-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(94, 94, 94);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgb(209, 209, 209, 0.2);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(126, 126, 126, 1.0);
}

.duck {
  position: absolute;
}

.mouth {
  transition-duration: 700ms;
  transition-property: left, top;
}